<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Super Rental</h2>
  <p>
    The Super Rental website is a delightful project created by building a property rental site,
    we can learn how to build and create Ember applications.
  </p>
  {{#link-to "contact" class="button"}}
  Contact Us
  {{/link-to}}
</div>
