<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>Super Rental Representatives would love to help you with whatever problem you may or may
    not be facing.
    <br>Please Contact us if you have any questions.
  </p>
  <address>
    Super Rental HQ
    <p>
      1234 Test Street
      <br>Andrew, NE 69969
  </p>
  <a href="tel:402-691-9670">+1 (402) 691-9670</a>
  <br>
  <a href="mailto:n1792559@nwytg.com">n1792559@nwytg.com</a>
</address>
{{#link-to "about" class="button"}}
About Us
{{/link-to}}
</div>
